<template>
<q-dialog v-model="open">
    <q-card style="width: 700px; max-width: 80vw;">
      <q-card-section>
        <div class="text-h6">{{ ref.action.charAt(0).toUpperCase() + ref.action.slice(1) }} {{ props.type.charAt(0).toUpperCase() +  props.type.slice(1) }} Fact</div>
      </q-card-section>

      <q-form pre>
        <q-input
          outlined
          v-model="fact"
          label="Fact"
          :rules="[value => !!value || 'A fact is Required']"
        />
      </q-form>
      <q-card-actions align="between" class="bg-lt-gray text-teal">
        <q-btn align="left" color="primary" type="close" label="Cancel" class="q-mt-md" @click="closeModal" v-close-popup/>
        <q-btn align="right" type="submit" color="positive" label="Save Fact" class="q-mt-md" @click="onSubmit"/>
      </q-card-actions>
    </q-card>
  </q-dialog>
  <alert :message="message" :color="color" :alert="alertModal" @showAlert="showAlert" ></alert>
</template>

<script lang="ts" setup>
import { computed, ref, watch } from 'vue'
import useCatsStore from 'stores/cats'
import useDogsStore from 'stores/dogs'
import alert from 'components/ModalAlert.vue'

const props = defineProps({ type: String, open: Boolean, action: String, edit: Number })
const emit = defineEmits(['modal', 'update'])

const open = computed({
  get: () => props.open,
  set: (value) => {
    ref.open = value
  }
})
const message = ref('Success')
const color = ref('primary')
const alertModal = ref(false)

const action = ref(props.action)
const catsStore = useCatsStore()
const dogsStore = useDogsStore()
const fact = ref('')

function showAlert (val) {
  alertModal.value = val
}

function onSubmit () {
  if (props.type === 'cat') {
    if (props.action === 'create') {
      catsStore.storeFact({ fact })
        .then((resp) => {
          if (resp.status >= 200 && resp.status < 300) {
            color.value = 'positive'
            message.value = 'Fact created successfully'
            showAlert(true)
            closeModal()
            return
          }
          color.value = 'negative'
          message.value = 'Error creating fact'
          showAlert(true)
          closeModal()
        })
    } else {
      catsStore.updateFact(ref.edit as number, { fact })
        .then((resp) => {
          if (resp.status >= 200 && resp.status < 300) {
            color.value = 'positive'
            message.value = 'Fact updated successfully'
            if (ref.fact !== resp.data.fact) {
              emit('update', resp.data)
            }
            showAlert(true)
            closeModal()
            return
          }
          color.value = 'negative'
          message.value = 'Error updating fact'
          showAlert(true)
          closeModal()
        })
    }
  } else {
    if (props.action === 'create') {
      dogsStore.storeFact({ fact })
        .then((resp) => {
          if (resp.status >= 200 && resp.status < 300) {
            color.value = 'positive'
            message.value = 'Fact created successfully'
            showAlert(true)
            closeModal()
            return
          }
          color.value = 'negative'
          message.value = 'Error creating fact'
          showAlert(true)
          closeModal()
        })
    } else {
      dogsStore.updateFact(ref.edit as number, { fact })
        .then((resp) => {
          if (resp.status >= 200 && resp.status < 300) {
            color.value = 'positive'
            message.value = 'Fact updated successfully'
            if (ref.fact !== resp.data.fact) {
              emit('update', resp.data)
            }
            showAlert(true)
            closeModal()
            return
          }
          color.value = 'negative'
          message.value = 'Error updating fact'
          showAlert(true)
          closeModal()
        })
    }
  }
}

watch(() => props.open, (first, second) => {
  if (ref.action === 'edit') {
    fetchFacts(props.edit)
  } else {
    fact.value = ''
  }
})

function fetchFacts (id) {
  if (props.type === 'cat') {
    catsStore.getFact(id)
      .then((resp) => {
        fact.value = resp.data.fact
        ref.fact = fact.value
        ref.edit = id
      })
  } else {
    dogsStore.getFact(id)
      .then((resp) => {
        fact.value = resp.data.fact
        ref.fact = fact.value
        ref.edit = id
      })
  }
}

function closeModal () {
  emit('modal', false)
  fact.value = ''
}
</script>
