<template>
  <q-dialog v-model="alert">
    <q-card>
      <q-card-section>
        <div class="text-h6">{{ props.message }}</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat label="OK" :color="props.color" @click="closeAlert" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script lang="ts" setup>
import { computed } from 'vue'

const props = defineProps({ alert: Boolean, message: String, color: String })
const emit = defineEmits(['showAlert'])

const alert = computed({
  get: () => props.alert,
  set: (value) => {
    alert.value = value
  }
})

function closeAlert () {
  emit('showAlert', false)
}
</script>
