<template>
  <q-page padding>
    <q-breadcrumbs>
      <q-breadcrumbs-el label="Home" :to="{ name: 'GeneralIndex'}" />
      <q-breadcrumbs-el label="Dogs" />
    </q-breadcrumbs>

    <h1>Dog Facts</h1>
    <q-btn label="+ Add New Fact" color="positive" class="q-mt-md" @click="modal(true), ref.action = 'create'" />

    <modal-action :type="type" :open="open" :action="ref.action" @modal="modal" :edit="ref.edit" @update="updateFact"></modal-action>

    <div class="q-pa">
      <q-infinite-scroll @load="onLoad" :offset="550" :key="infinite.index">
        <div class="grid-container">
          <div v-for="(fact, index) in dogsFacts" :key="index">
            <div class="grid-item">
              <q-card dark bordered class="bg-grey-9 my-card medium-gutter" :key="index">
                <q-card-actions align="right" horizontal>
                  <q-btn flat><span class="material-icons" @click="editFact(fact.id)">edit</span></q-btn>
                  <q-btn flat><span class="material-icons" @click="deleteFact(fact.id)">delete_outline</span></q-btn>
                </q-card-actions>
                <q-card-section>
                  <div class="text-h6">Fact #{{ fact.id }}</div>
                </q-card-section>

                <q-separator dark inset />

                <q-card-section>
                  <p>{{ fact.fact }}</p>
                </q-card-section>
              </q-card>
            </div>
          </div>
        </div>
        <template v-slot:loading>
          <div class="row justify-center q-my-md">
            <q-spinner-dots color="primary" size="40px" />
          </div>
        </template>
      </q-infinite-scroll>
    </div>

    <q-btn label="+ Add New Fact" color="positive" class="q-mt-md" @click="modal(true), ref.action = 'create'" />
  </q-page>
</template>

<script lang="ts" setup>
import useDogsStore from 'stores/dogs'
import { onMounted, ref } from 'vue'
import { QInfiniteScroll } from 'quasar'
import ModalAction from 'components/ModalAction.vue'

const open = ref(false)
const type = ref<string>('dog')

const loading = ref(false)

const dogsStore = useDogsStore()
const dogsFacts: Array<string> = []

const infinite = ref({
  sortBy: 'desc',
  descending: false,
  page: 1,
  itensPerPage: 18,
  itensPerColumn: 6,
  last_page: 0,
  index: 0
})

function modal (e) {
  open.value = e
  ref.type = 'dog'
  if (!e) {
    infinite.value.index = Math.random()
  }
}

function deleteFact (id: number) {
  loading.value = true

  if (confirm('Are you sure you want to delete this fact? THIS ACTION CANNOT BE UNDONE!')) {
    infinite.value.page = 1
    dogsStore.deleteFact(id)
      .then(() => {
        dogsFacts.forEach((item, index) => {
          if (item.id === id) {
            const arr = dogsFacts.toSpliced(index, 1)
            dogsFacts.length = 0
            dogsFacts.splice(0, arr.length, ...arr)
            infinite.value.index = Math.random()
          }
        })
      })
  }
}

function editFact (id: number) {
  loading.value = true
  ref.edit = id
  ref.action = 'edit'

  modal(true)
  loading.value = false
}

function updateFact (fact: string) {
  dogsFacts.every((item, index) => {
    if (item.id === fact.id) {
      dogsFacts[index] = fact
      infinite.value.index = Math.random()
      return true
    }
    return true
  })
}

function onLoad (index, done) {
  loading.value = true
  if (infinite.value.page === infinite.value.last_page) {
    loading.value = false
    done()
    return false
  }

  dogsStore.getAllFacts({ pageSize: infinite.value.itensPerPage, page: infinite.value.page })
    .then((resp) => {
      setTimeout(() => {
        dogsFacts.push(...resp.data.data)
        infinite.value.page++
        done()
      }, 1200)

      loading.value = false
    })
}

onMounted(() => {
  switch (true) {
    case window.innerWidth < 600: // mobile
      infinite.value.itensPerColumn = 1
      infinite.value.itensPerPage = 6
      break
    case window.innerWidth < 1440: // tablet
      infinite.value.itensPerColumn = 3
      infinite.value.itensPerPage = 9
      break
    default: // desktop
      infinite.value.itensPerColumn = 6
      infinite.value.itensPerPage = 12
      break
  }
})

</script>
<style>
.grid-container {
  display: grid;
  padding: 2px;
  grid-template-columns: repeat(6, auto);
  @media (max-width: 1440px){
    grid-template-columns: repeat(3, auto);
  }
  @media (max-width: 600px){
    grid-template-columns: repeat(1, auto);
  }
}
.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 2px;
  font-size: 15px;
  text-wrap: normal;
  text-align: center;
}
</style>
